.center, .center-align {
    text-align: center;
}

.white-text {
    color: #FFFFFF !important;
}

.blue {
    background-color: #2196F3 !important;
}

.red {
    background-color: #F44336 !important;
}

.amber {
    background-color: #ffc107 !important;
}

.green {
    background-color: #4CAF50 !important;
}

.mat-card-image {
    width: calc(50% + 32px);
}